{{ define "main" }}
  <main class="site-content">
  <div id="content">
    <section class="hero is-danger">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            404 - Page not found
          </h1>
          <h2 class="subtitle" style="margin-top: 0.5vh;">
            Someone may send you a wrong link.
          </h2>
        </div>
      </div>
    </section>
      <section class="section">
        <div class="container">
          <div class="content">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <h1 id="title">
                    <a href="{{ "/" | relURL }}">Go Home</a>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
{{ end }}