.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
  padding-top: 52px;
}

a {
  color: #922b63;
}
a:hover {
  color: #4fb82a;
}

.navbar.is-success {
  background-color: #4fb82a;
  color: #ffffff;
}
.hero.is-danger {
  background-color: #922b63;
  color: #fff;
}

.tag.success {
  background-color: #4fb82a;
  color: #000000;
}
.tag.hover-success:hover {
  background-color: #922b63;
  color: #ffffff;
}

.tag.danger {
  background-color: #922b63;
  color: #ffffff;
}
.tag.hover-danger:hover {
  background-color: #4fb82a;
}

.cursor-default {
  cursor: default;
}