<main class="site-content">
  <section class="hero is-danger">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ partial "typeIcon" . }}
          {{- .Title -}}
        </h1>
        <h2 class="subtitle" style="margin-top: 0.5vh;">
          <span id="description">{{ .Description }}</span>
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="card">
          <div class="card-content">
            <div class="content">
              {{- .Content -}}

              {{ if .Params.tags }}
                <hr />
                {{ partial "tags" .Params.tags }}
              {{ end }}
            </div>
          </div>
          <footer class="card-footer">
            <!-- Begin Prev Page -->
            {{ if .PrevPage }}
              <b class="card-footer-item"><a href="{{ .PrevPage.Permalink }}">GoTo: {{ .PrevPage.Title }}</a></b>
            {{ else }}
              <b class="card-footer-item disabled"><div class="cursor-default" href="">No older post</div></b>
            {{ end }}
            <!-- End Next Page -->

            <b class="card-footer-item has-text-centered">Published on <br /> <span id="publishDate">{{ .PublishDate.Format "Jan 02.2006" }}</span></b>
            <b class="card-footer-item has-text-centered">Last modified <br /> {{ .Lastmod.Format "Jan 02.2006" }}</b>

            <!-- Begin Next Page -->
            {{ if .NextPage }}
              <b class="card-footer-item"><a href="{{ .NextPage.Permalink }}">GoTo: {{ .NextPage.Title }}</a></b>
            {{ else }}
              <b class="card-footer-item disabled"><div class="cursor-default" href="">No newer post</div></b>
            {{ end }}
            <!-- End Next Page -->
          </footer>
        </div>
      </div>
    </div>
  </section>
</main>

