<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      {{ if .Site.Params.copyrighthtml }}
        {{.Site.Params.CopyrightHTML | safeHTML}}
      {{ end }}
      <div>Font Icons by <a href="https://fontawesome.com/" title="Font Awesome">Font Awesome</a></div>
      <hr />

      {{ $title := .Title }}
      {{ with .OutputFormats.Get "RSS" }}
        <div><a href="{{ .RelPermalink }}" title="Subscribe to RSS feed {{ $title }}"><i class="fas fa-rss fa-lg"></i>&nbsp;Subscribe to RSS feed for {{ $title }}</a></div>
      {{ end }}
    </div>
  </div>
</footer>