<nav class="navbar is-success is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="icon"><i class="fas fa-paw fa-lg"></i></span>&nbsp;<span>Informatiger.NET</span>
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item has-text-gray" href="https://git.informatiger.net">
        <i class="fab fa-gitlab fa-lg"></i>&nbsp;&nbsp;Gitlab
      </a>
      <div class="navbar-item has-dropdown is-hoverable is-right">
        <a class="navbar-link" href="https://icetiger.eu">
          <i class="fas fa-paw fa-lg"></i>&nbsp;&nbsp;IceTiger
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://twitter.icetiger.eu" target="_blank">
            <i class="fab fa-twitter-square fa-lg"></i>&nbsp;&nbsp;Twitter
          </a>
          <a class="navbar-item" href="https://telegram.icetiger.eu" target="_blank">
            <i class="fab fa-telegram-plane fa-lg"></i>&nbsp;&nbsp;Telegram
          </a>
          <a class="navbar-item" href="mailto:contact@icetiger.eu" target="_blank">
            <i class="fas fa-envelope fa-lg"></i>&nbsp;&nbsp;Mail
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item has-text-gray" href="{{ .Site.BaseURL }}tags/">
        <span class="icon"><i class="fas fa-tags" title="Tags"></i></span>&nbsp;&nbsp;
        Tags
      </a>
    </div>
  </div>
</nav>