<title>{{ if .IsHome }} {{ .Site.Title }} - {{ .Site.Params.description }} {{ else }} {{ .Title }} {{ end }}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ if .IsHome }} {{- .Site.Params.description -}} {{ else }} {{- .Description -}} {{ end }}">
<meta name="keywords" content="Informatiger.NET">
<meta name="robots" content="index, follow">
<meta name="copyright" content="{{ .Site.Copyright }}">
<meta name="language" content="{{ .Site.Language.Lang }}">
<meta name="author" content="Informatiger.NET">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="width">
<!-- Preview -->
<meta property="og:title" content="{{ if .IsHome }} {{- .Site.Title -}} {{ else }} {{ .Title }} {{ end }}">
<meta property="og:description" content="{{ if .IsHome }} {{- .Site.Params.description -}} {{ else }} {{- .Description -}} {{ end }}">
<meta property="og:url" content="{{ .Permalink}}">
<meta property="og:image" content="logo.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ .Site.BaseURL }}" />
<!-- FavIcon -->
<!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
<!--<link rel="icon" href="/favicon.ico" type="image/x-icon">-->
<!-- CSS Framework -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
<!-- JS -->
<script src="{{ .Site.BaseURL }}js/main.js"></script>

<!-- RSS Link -->
{{ $site_title := .Site.Title }}
{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $site_title }}" />
{{ end }}