{{ if eq .Type "article"}}
  <span class="icon"><i class="far fa-newspaper fa-lg" title="Article"></i></span>&nbsp;&nbsp;&nbsp;
{{ else if eq .Type "post" }}
  <span class="icon"><i class="fas fa-file fa-lg" title="Post"></i></span>&nbsp;&nbsp;&nbsp;
{{ else if eq .Type "tags"}}
  <span class="icon"><i class="fas fa-tags fa-lg" title="Tags"></i></span>&nbsp;&nbsp;&nbsp;
{{ else }}
  {{ if (not .IsHome) }}
    <span class="icon"><i class="fas fa-question fa-lg" title="Misc"></i></span>&nbsp;&nbsp;&nbsp;
  {{ end }}
{{ end }}