{{ define "main" }}
  <main class="site-content">
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                  {{ if .IsHome }}
                    <span class="icon"><i class="fas fa-paw fa-lg" title="Misc"></i></span>&nbsp;&nbsp;&nbsp;
                  {{ else }}
                    {{ partial "typeIcon" . }}
                  {{ end }}
                  {{- .Title -}}
                </h1>
                {{ if .IsHome }}
                <h2 class="subtitle" style="margin-top: 0.5vh;">
                  {{ .Site.Params.Description }}
                </h2>
                {{ end }}
            </div>
        </div>
    </section>

    {{ range (.Paginator 5).Pages }}
    <section class="section">
      <div class="container">
        <div class="content">
          <article>
            <div class="card">
              <header class="card-header">
                <a class="card-header-title" href="{{.RelPermalink}}" title="{{.Title}}">{{.Title}}</a>
                <div class="card-header-icon" style="cursor: default">
                  {{ partial "typeIcon" . }}
                </div>
              </header>
              {{ if ne .Type "tags"}}
                <div class="card-content">
                  <div class="content">
                    <p>
                      <b>{{- .Summary -}}</b>
                    </p>
                    <p><a href="{{.RelPermalink}}" title="{{.Title}}">Read more</a></p>
                    <hr />
                    {{ if .Params.tags }}
                    <div>
                      <h6>Tags</h6>
                      {{ partial "tags" .Params.tags }}
                    </div>
                    {{ end }}
                  </div>
                </div>
                <footer class="card-footer">
                  <b class="card-footer-item has-text-centered">Published on <br /> {{ .PublishDate.Format "Jan 02.2006 15:04 CET" }}</b>
                  <b class="card-footer-item has-text-centered">Last modified <br /> {{ .Lastmod.Format "Jan 02.2006 15:04 CET" }}</b>
                </footer>
              {{ end }}
            </div>
          </article>
        </div>
      </div>
    </section>
    {{ end }}
  </main>
{{ end }}