<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
          {{ partial "article.html" . }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
